.donate
    .wrapper-inline.inline--donate
        .donate__content.donate__content--active
            +icon("icon icon--big", "../src/img/all.svg", "donate")
            .content-headline Spenden
        .donate__content
            +icon("icon icon--big", "../src/img/all.svg", "join")
            .content-headline Mitmachen
                