.col-container.container--donate
    .col-inline.inline--donate
        .col-middle
            .col.donate__content.donate__content--active.donate
                +icon("icon icon--big", "../src/img/all.svg", "donate")
                .content-headline Spenden
            .col.donate__content.join
                +icon("icon icon--big", "../src/img/all.svg", "join")
                .content-headline Mitmachen
                