.donate-information
    .wrapper-inline.inline--donate-text
        .donate-text__content
            .donate-text Target Hope e.V. finanziert seine Hilfsprojekte ausschließlich durch private Spenden. Diese sind in Deutschland steuerlich absetzbar.
            .donate-text 
                strong Für finanzielle Unterstützung für unsere Projekte sind wir sehr dankbar! 
                | Spenden können auf die unten angegebenen Konten überwiesen werden.
            .donate-text Für die Zusendung Ihrer Spendenbescheinigung geben Sie bei der Überweisung bitte Ihren Namen und Ihre vollständige Adresse an. Spendenbescheinigungen werden immer automatisch im Januar des Folgejahres verschickt.
            .donate-text Eine Pauschale von 10% auf alle eingehenden Spenden wird für die allgemeine Vereinsarbeit von Target Hope e.V. verwendet, vor allem für Werbung und Verwaltungskosten.
            .donate-box
                .donate-box__header
                    +icon("icon", "../src/img/all.svg", "join")
                    .donate-headline Bankverbindung
                .donate__info 
                    .bank 
                        .bank-item.item--association 
                            strong Target Hope e.v.
                        .bank-item.item--name BW Bank
                        .bank-item.item--iban IBAN:    DE28 6005 0101 0001 2877 12
                        .bank-item.item--bic BIC:    SOLADEST600
                    .usage-field
                        .usage-item.item-headline Verwendungszweck
                        .usage-item 
                            i + Name des Projekts bitte hier angeben

        .image.donate-text__image
            img(src="http://di.vonaffenfels.de/364x615/384A3A/fff", alt="")
                