.wrapper-container.container--donate
    .wrapper-inline.inline--donate
        .donate__content.donate__content--active.donate
            +icon("icon icon--big", "../src/img/all.svg", "donate")
            .content-headline Spenden
        .donate__content.join
            +icon("icon icon--big", "../src/img/all.svg", "join")
            .content-headline Mitmachen
                