.col-container
    .col-inline.inline--fact
        .col-middle
            .col.col--4.fact__content
                .fact-number 67
                .fact-text Orten
            .col.col--4.fact__content
                .fact-number 14
                .fact-text Ländern
            .col.col--4.fact__content
                .fact-number 55
                .fact-text Tsd. Menschen
            .col.col--4.fact__content
                .fact-number 97%
                .fact-text der Spenden für Projekte
            .col.col--4.fact__content
                .fact-text seit
                .fact-number 2009
            .col.col--4.fact__content.fact__content--button
                a(href='about_us.html').button Mehr über uns
                    +icon("icon icon--white icon--small", "../src/img/all.svg", "icon-arrow-big")