.hero
    .wrapper-inline
        a(href='#!').image.hero__image
            img(src="http://di.vonaffenfels.de/665x450/384A3A/fff", alt="")
        .hero__content
            .hero-overline Guinea
            a(href='#!').hero-headline Bau einer Schule in Boké
            .hero-text Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.