.col-container.container--hero
    .col-inline.inline--hero
        .col-middle
            a(href='project_open.html').col.col--8.image
                img(src="../../src/img/hero-romania.png", alt="")
            .col.col--4.col--hero
                .hero-overline Rumänien
                a(href='project_open.html').hero-headline Hilfsaktion für 300 Kinder
                .hero-text Im Dorf Valeni wurden durch die Hilfsaktion im Dezember fast 300 Kinder aus sozial schwachen Familien mit Winterjacken, Winterschuhen und Socken versogt. 
                    br
                    br
                    a(href='project_open.html') 
                        i Mehr erfahren...