.wrapper-container.container--hero
    .wrapper-inline
        a(href='project_open.html').container-2.image.hero__image
            img(src="http://di.vonaffenfels.de/665x450/384A3A/fff", alt="")
        .container-1.hero__content
            .hero-overline Guinea
            a(href='project_open.html').hero-headline Bau einer Schule in Boké
            .hero-text Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.