.col-container.container--hero
    .col-inline.inline--white 
        .col-middle
            a(href='project_open.html').col.col--8.image
                img(src="../../src/img/hero-senegal.png", alt="")
            .col.col--4.col--hero
                .hero-overline Mitmachen
                a(href='project_open.html').hero-headline Hoffnung, die zum Tragen kommt
                .hero-text Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.