.wrapper-container
    .wrapper-inline
        .container-2.image.info__image
            img(src="http://di.vonaffenfels.de/364x325/384A3A/fff", alt="")
        .container-1.info__content.info-big__content
            .section-headline Brücken der Hoffnung
            .info-text.info-text--dark Brücken der Hoffnung bauen … zwischen Wohlstand und Armut, Überfluss und Not … - gemeinsam mit unseren weltweiten Partnern … Menschen helfen, die in Not und Armut geraten sind, und ihnen Hoffnung für eine bessere Zukunft vermitteln …
            .info-text.info-text--dark Target Hope e.V. finanziert seine Projekte überwiegend durch Spenden und führt mit einem Team von ehrenamtlichen Mitarbeitern Projekte und Hilfsaktionen durch in enger Zusammenarbeit mit lokalen Partnerorganisationen in den verschiedenen Ländern.
