.col-container
    .col-inline.inline--joinus
        .col-middle
            .flex-inline-container
                .col.col--6
                    .section-headline Trage die Hoffnung mit!
                    .content-header
                        +icon("icon", "../src/img/all.svg", "donate")
                        .content-headline Spenden
                    .joinus-text Target Hope e.V. finanziert seine Hilfsprojekte ausschließlich durch private Spenden. Für finanzielle Unterstützung für unsere Projekte sind wir sehr dankbar!
                    .content-header
                        +icon("icon", "../src/img/all.svg", "join")
                        .content-headline Werde Teil des Projekts
                    .joinus-text Hier kommt einen Text über die Möglichkeit, sich einzubringen und z.B. auf einen Einsatz mitzukommen.
                    a(href='join.html').button Ich mache mit
                        +icon("icon icon--white icon--small", "../src/img/all.svg", "icon-arrow-big")
                .col.col--6.image
                    img(src="../../src/img/mitmachen.jpg", alt="")
