.col-container.container--tertiary.color-before
    .col-inline.inline--project
        .col-middle
            .col.col--12.section-headline Brunnenbau in Guinea und Mali 
            .col.col--12.project-inline-container
                .col.col--6.project-text-container
                    .project-text Conakry, die Hauptstadt von Guinea, hat derzeit etwa 3 Mio. Einwohner. Die Bevölkerung der Stadt hat sich in den letzten 25 Jahren verdreifacht. 
                    .project-text Guinea hat in der Regenzeit von Mai bis Oktober ausgesprochen ausgiebige Niederschläge und wird deshalb auch als das „Wasserreservoir von Westafrika“ bezeichnet. Und trotzdem hat die Hauptstadt Conakry seit Jahren ein großes Problem mit der Wasserversorgung, vor allem in der Trockenzeit von November bis April. 
                    .project-text Das Wasserversorgungsnetz ist alt und marode, seine Kapazität wurde ursprünglich für max. 1 Mio. Einwohner gebaut und ist seitdem kaum erneuert und erweitert worden. Alle Erneuerungs- und Erweiterungsprojekte der städtischen Wasserversorgung der vergangenen Jahre sind im Sumpf der Korruption versickert. Den meisten Stadtvierteln wird seit Jahren nur stundenweise Wasser zugeführt und dies oft nur drei oder viermal pro Woche.
                    a(href='#!').project-next Mehr über dieses Projekt erfahren 
                        +icon("icon icon--secondary  icon--small", "../src/img/all.svg", "icon-arrow-big")

                .col.col--6.image.project__image
                    img(src="http://di.vonaffenfels.de/470x559/384A3A/fff", alt="")
                