.wrapper-container.container--slider
    .wrapper-inline.inline--slider
        .section-headline Aktuelle Projekte
        .slider
            .button.button-slider.button--prev
                +icon("icon", "../src/img/all.svg", "icon-arrow")
            .button.button-slider.button--next
                +icon("icon", "../src/img/all.svg", "icon-arrow")
            .flex-inline-container.flex-slider        
                .slider-container(style="width: calc((319px * 4) + (30px * 3)); transform: translateX(0px);")
                    .slider__item
                        a(href='project_open.html').slider-img 
                            img(src="http://di.vonaffenfels.de/319x184/384A3A/fff", alt="")
                        .slider-overline Hilfstaktion
                        .slider-headline Brunnenbau in Guinea
                    .slider__item
                        a(href='project_open.html').slider-img 
                            img(src="http://di.vonaffenfels.de/319x184/384A3A/fff", alt="")
                        .slider-overline Entwicklungszusammenarbeit
                        .slider-headline Schule und Ausbildung in Senegal
                    .slider__item
                        a(href='project_open.html').slider-img 
                            img(src="http://di.vonaffenfels.de/319x184/384A3A/fff", alt="")
                        .slider-overline Hilfstaktion
                        .slider-headline Brunnenbau in Guinea
                    .slider__item
                        a(href='project_open.html').slider-img 
                            img(src="http://di.vonaffenfels.de/319x184/384A3A/fff", alt="")
                        .slider-overline Hilfstaktion
                        .slider-headline Brunnenbau in Guinea

        