.col-container.container--slider
    .col-inline.inline--slider 
        .col-middle
            .col.col--12.section-headline Aktuelle Projekte
            .col.col--12.slider
                .button.button-slider.button--prev
                    +icon("icon", "../src/img/all.svg", "icon-arrow")
                .button.button-slider.button--next
                    +icon("icon", "../src/img/all.svg", "icon-arrow")
                .flex-inline-container.flex-slider        
                    .slider-container(style="width: calc((319px * 4) + (30px * 3)); transform: translateX(0px);")
                        .slider__item
                            a(href='project_open.html').slider-img 
                                img(src="../../src/img/projekt-guinea.jpg", alt="")
                            .slider-overline Hilfstaktion
                            .slider-headline Brunnenbau in Guinea
                        .slider__item
                            a(href='project_open.html').slider-img 
                                img(src="../../src/img/projekt-senegal.jpg", alt="")
                            .slider-overline Entwicklungszusammenarbeit
                            .slider-headline Schule und Ausbildung in Senegal
                        .slider__item
                            a(href='project_open.html').slider-img 
                                img(src="../../src/img/projekt-guinea.jpg", alt="")
                            .slider-overline Hilfstaktion
                            .slider-headline Brunnenbau in Guinea
                        .slider__item
                            a(href='project_open.html').slider-img 
                                img(src="../../src/img/projekt-senegal.jpg", alt="")
                            .slider-overline Hilfstaktion
                            .slider-headline Brunnenbau in Guinea

        