.col-container
    .col-inline.inline--teaser
        .col-middle
            .col.col--12.section-headline.headline--bright Lorem ipsum
            .col.col--12.teaser-headline.headline--dark Lorem ipsum dolor sit amet?
            .col.col--12.teaser-text Unser gemeinsames Arbeiten soll von einer Kultur des gegenseitigen Vertrauens, Respekt,Wertschätzung, Transparenz, Zuverlässigkeit und einer offenen Kommunikation miteinander geprägt sein. Bei unseren Hilfsaktionen und Hilfsprojekten vor Ort ist uns zusätzlich wichtig: Zusammenarbeit mit vertrauenswürdigen Partnern, Teamfähigkeit, Notlagen genau prüfen und einschätzen, Achtung der Menschenwürde. 
            