.col-container
    .col-inline.inline--teaser
        .col-middle
            .col.col--12.section-headline Bisherige Projekte
            .flex-inline-container.flex-teaser
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="../../src/img/slider2.jpg", alt="")
                    .teaser-headline Brunnenbau in Guinea
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="../../src/img/slider1.jpg", alt="")
                    .teaser-headline Schule und Ausbildung in Senegal
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="../../src/img/slider13.jpg", alt="")
                    .teaser-headline Brunnenbau in Guinea
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="../../src/img/slider8.jpg", alt="")
                    .teaser-headline Brunnenbau in Guinea
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="../../src/img/slider9.jpg", alt="")
                    .teaser-headline Brunnenbau in Guinea

        