.wrapper-container
    .wrapper-inline.inline--teaser
        .section-headline Bisherige Projekte
        .flex-inline-container.flex-teaser
            .teaser__item
                a(href='#!').teaser-img 
                    img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                .teaser-headline Brunnenbau in Guinea
            .teaser__item
                a(href='#!').teaser-img 
                    img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                .teaser-headline Schule und Ausbildung in Senegal
            .teaser__item
                a(href='#!').teaser-img 
                    img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                .teaser-headline Brunnenbau in Guinea
            .teaser__item
                a(href='#!').teaser-img 
                    img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                .teaser-headline Brunnenbau in Guinea
            .teaser__item
                a(href='#!').teaser-img 
                    img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                .teaser-headline Brunnenbau in Guinea

        