.col-container
    .col-inline.inline--teaser
        .col-middle
            .col.col--12.section-headline Bisherige Projekte
            .flex-inline-container.flex-teaser
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                    .teaser-headline Brunnenbau in Guinea
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                    .teaser-headline Schule und Ausbildung in Senegal
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                    .teaser-headline Brunnenbau in Guinea
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                    .teaser-headline Brunnenbau in Guinea
                .col.col--4.teaser__item
                    a(href='#!').teaser-img 
                        img(src="http://di.vonaffenfels.de/319x211/384A3A/fff", alt="")
                    .teaser-headline Brunnenbau in Guinea

        