.world
    .wrapper-inline
        .world__content
            .world-headline Hoffnung in die ganze Welt
            .world-text Schwerpunkte von Target Hope e.V. sind Projekte der Entwicklungszusammenarbeit, um in mehr als 14 Ländern Menschen in Not Hoffnung und Perspektive für eine bessere Zukunft zu bieten.
        .world__image
