.col-container.container--world
    .col-inline.inline--world
        .col-middle
            .col.col--4
                .section-headline Hoffnung in die ganze Welt
                .world-text Schwerpunkte von Target Hope e.V. sind Projekte der Entwicklungszusammenarbeit, um in mehr als 14 Ländern Menschen in Not Hoffnung und Perspektive für eine bessere Zukunft zu bieten.
            .col.col--8.world__image
                img(src="../../src/img/icons/map.svg", alt="")
