.col-container.container--world
    .col-inline.inline--world
        .col-middle
            .col.col--4
                .section-headline Hoffnung in die ganze Welt
                .world-text Schwerpunkte von Target Hope e.V. sind Projekte der Entwicklungszusammenarbeit, um in mehr als 14 Ländern Menschen in Not Hoffnung und Perspektive für eine bessere Zukunft zu bieten.
            .col.col--8.world__image
                img(src="../../src/img/icons/map.svg", alt="")
                .col.col--6.world__image-box
                    #phl.pin
                        #phl.world__image-text
                            h3.headline Vorschule in Cebu City Philippinen
                            p.world-text Eine Vorschule für die Kinder der Müllberge von Cebu City (Philippinen). Die Vorschule ist eine sichere Oase inmitten des Chaos der Slums an den Müllbergen der Stadt Cebu City auf den Philippinen.
                    
                .col.col--6.world__image-box
                    #hti.pin
                        #hti.world__image-text
                            h3.headline Waisenkinder in Haiti
                            p.world-text Die soziale und politische Lage in Haiti und die noch bestehenden Auswirkungen des verheerenden Erdbebens von 2010 haben zur Folge, dass Zehntausende von Menschen in Armut und sozialer Not leben.
                    
                .col.col--6.world__image-box
                    #zaf.pin
                        #zaf.world__image-text
                            h3.headline Ein Container-Café für ein Township in Südafrika
                            p.world-text Kapstadt. Ein Ort von atemberaubender Natur und Geschichte, ein Ort des Tourismus. Ein Land, welches für seine Schönheit bekannt ist, hat aber auch seine Schattenseiten.
                    
                .col.col--6.world__image-box
                    #gin.pin
                        #gin.world__image-text
                            h3.headline Brunnenbau in Guinea und Mali
                            p.world-text Das Wasserversorgungsnetz ist alt und marode, seine Kapazität wurde ursprünglich für max. 1 Mio. Einwohner gebaut und ist seitdem kaum erneuert und erweitert worden.
                    
                .col.col--6.world__image-box
                    #sen.pin
                        #sen.world__image-text
                            h3.headline Schule und Berufsausbildung in Senegal
                            p.world-text Target Hope unterstützt die Renovierung, Vergrößerung und Ausrüstung der Schule „Groupe Scolaire Kalima“ in Fatick (Senegal). 
                    
                .col.col--6.world__image-box
                    #phl2.pin
                        #phl2.world__image-text
                            h3.headline Hilfe zum Wiederaufbau auf den Philippinen
                            p.world-text Nach dem schrecklichen Taifun Haiyan auf den Philippinen im November 2013 hatte Target Hope e.V. schnelle und effektive Hilfe für viele Opfer leisten können über zuverlässige Projektpartner vor Ort.
                        