header.header
    .col-inline.inline--header
        .col-middle
            a(href!='<?= $site->url()?>').header__logo
                <?php $svgUrl = url('asset/img/all.svg') ?>
                +icon("logo logo--white", $svgUrl, "icon-logo")
            include nav