extends includes/html_start
block content
    .wrapper
        .wrapper-top
            include includes/header/header
            include includes/elements/hero
        include includes/elements/info
        include includes/elements/info_image
        include includes/elements/world
        include includes/elements/facts
        include includes/elements/joinus

        include includes/footer

    include includes/html_end