extends includes/html_start
block content
    .wrapper
        .wrapper-top
            include includes/header/header
            include includes/elements/hero_join
        include includes/elements/donate
        include includes/elements/donate_text

        include includes/footer

    include includes/html_end