extends includes/html_start
block content
    .wrapper
        .wrapper-top.top--white
            include includes/header/header_white
            include includes/elements/hero_white
        include includes/elements/slider
        include includes/elements/project_text
        include includes/elements/teaser_projects
        include includes/elements/world
        include includes/elements/teaser_text

        include includes/footer

    include includes/html_end