//- Pug Variables

//- Version
- var version = "1.0"

//- Title
- var page_title = "Target Hope"

//- Stylesheet Link
- var style_sheet = "../src/css/styles.css?v=" + version

//- Image Folder
- var img = "../src/img/"

//- Workfile JS
- var js = "../src/js/"

//- Headline Text
- var headline = page_title
