footer.footer 
    .wrapper-inline.inline--footer
        .footer__content
            a(href='#!').footer-text
                +icon("logo logo--white", "../src/img/all.svg", "icon-logo")
            a(href='#!').footer-text © Copyright 2020 Target Hope e.V.
            a(href='#!').footer-text Impressum
            a(href='#!').footer-text Datenschutz
            a(href='#!').footer-text AGB