footer.footer 
    .wrapper-inline.inline--footer
        .footer__content
            a(href='#!').footer-text
                +icon("logo logo--white", "../src/img/all.svg", "icon-logo")
            .footer-text © Copyright 2020 Target Hope e.V.
            a(href='impressum.html').footer-text Impressum
            a(href='datenschutz.html').footer-text Datenschutz
