footer.footer 
    .col-inline.inline--footer
        .col-middle
            .footer__content
                a(href='index.html').footer-logo
                    +icon("logo logo--white", "../src/img/all.svg", "icon-logo")
                .footer-text--right
                    .footer-text <?= $site->copyright()->html() ?>
                    a(href='impressum.html').footer-text Impressum
                    a(href='datenschutz.html').footer-text Datenschutz