//- Pug Variables

//- Version
- var version = "1.0"

//- Title
- var page_title = "Target Hope"

//- Stylesheet Link
- var style_sheet = "../../../assets/css/styles.css?v=" + version

//- Image Folder
- var img = "../../../assets/src/img/"

//- Workfile JS
- var js = "../../../assets/src/js/"

//- Headline Text
- var headline = page_title
