\:root
    font-size: 15px

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

img 
    width: 100%
    height: auto

body
    color: $tertiary-color
    font-family: 'encodesanscondensed-regular'

a
    text-decoration: none 
    color: $primary-color
    cursor: pointer
    
.wrapper 
    margin: 0 auto

.wrapper-inline
    margin: 0 auto
    padding: rem(50) rem(60)
    max-width: $page-width
    width: 100%
    display: flex 
    justify-content: space-between

.button
    border: 2px solid transparent
    background-color: $primary-color
    color: $white-color
    font-size: rem(18)
    font-weight: 800
    text-align: center
    padding: rem(15) rem(30)
    display: inline-block

    &:hover 
        border-color: $primary-color
        background-color: transparent
        color: $primary-color

.icon
    fill: $secondary-color
    display: inline-block
    vertical-align: middle

    svg 
        width: 37px 
        height: 30px

.icon--small 

    svg
        width: 20px 
        height: 20px

.icon--big 
    svg 
        width: 52px
        height: 52px

.icon--white
    fill: $white-color

.wrapper-top
    position: relative

    &:after 
        content: ''
        background: url('../img/bg-bright.jpg')
        background-size: auto 100%
        width: 100%
        height: 100%
        position: absolute
        top: 0 
        z-index: 0

.button

    &:hover 
        .icon
            fill: $primary-color

    .icon 
        margin-left: rem(10)

@media (max-width: 768px)
    
    .wrapper-inline
        padding: rem(15) rem(60)
        display: block

    .image
        width: 100%
        margin-bottom: rem(24)

@media (max-width: 480px)

    .wrapper-inline
        padding: 0 rem(15)

